<!DOCTYPE html>
<html>
    <head>
        <!-- Sensor classes -->
        <script src="../../../utils/sensors.js"></script>
        <!-- AJAX calls to API -->
        <script src="../../static/js/js/httpclient.js"></script>
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <th></th>
                </tr>
            </table>
        </div>
        <div>
            <table id="sensors-table">
                <tr>
                    <th>SENSORS</th>    
                </tr>
                <tr>
                    <th>Parking Place</th>
                    <th>IP Address</th>
                    <th>Position</th>
                </tr>
                
                
            </table>
        </div>
        <div><button id="generate-sensor">Press Me to generate a sensor</button></div>
        </div>
        

        <script>
            $('generate-sensor').click(() => {
                //Retrieve a sensor from the database
                httpClient.get('http://localhost:3001/api/dashboard/sensors')
                $('sensor-table').append('<tr><td>')
            })
        </script>
    </body>
</html>